---
import Linkedin from "./icons/Linkedin.astro";
---

<a
{...Astro.props}
target="_blank"
rel="noopener noreferrer"
role="link">
  <div class="mb-5 w-sm flex justify-center">
    <Linkedin />
  </div>
</a>
